          {{ content.field_egnyte_tabs__items_links[0] }}  

<div class="alignwide mt-500 resources platform-enables__pane" id="platform-enables__pane-">
  <div class="grid-cont--xl">
    <div class="grid-row grid-row--jcc">
      <div class="grid-col grid-col--6 grid-col--md-12">
        <div class="wp-block-group grid-cont pl-0">
          <h3 class="h3">{{ content.field_egnyte_tabs__item_title[0] }}</h3>
          {{ content.field_egnyte_tabs__item_text[0] }}  
        </div>
      </div>
      <div class="grid-col grid-col--6 grid-col--md-12">
        <div class="wp-block-group mt-350 tab-grid-cont">
          <div class="wp-block-group grid-row grid-row-jcc">
            <div class="wp-block-group platform__item case-studies__item padding-right-0 padding-left-0 padding-bottom-0">
              <div class="margin-top-50">
                <img src="{{ company_logo }}" alt="{{ company_logo_alt }}" class="wp-image-24076" />
                <div class="wp-block-group has-background padding-right-30 padding-left-30 padding-top-bottom-30" style="background-color:#f6f9fb">
                  <img src="https://www.egnyte.com/sites/default/files/2021-09/quote-blue.svg" alt="">
                  <h4 class="has-text-color h4 fw--400" style="color:#1f5aa0"> {{ quote }}</h4>
                  <div class="grid-row grid-row--aic">
                    <div class="mt-150 grid-col grid-col--md-5 grid-col--sm-12 grid-col--auto">
                      <h4 class="h4 leader-note__name tc--dark">{{ first_name }} {{ last_name }}</h4>
                      <div class="pl-0 grid-col grid-col--auto leader-note__position__wrapper">
                            <p class="p p--medium fw--500 leader-note__position margin-bottom-0">{{ job_title }} {{ company }}</p> 
                      </div>
                    </div>
                    <div class="mt-150 grid-col grid-col--md-7 grid-col--sm-12">
                      <p class="margin-bottom-0">
                        <a class="more-link about__more-link" href="/customers/tutor-perini-case-study">Read Tutor Perini Case Study<svg viewBox="0 0 16 16"><polygon fill="currentColor" points="6,13.4 4.6,12 8.6,8 4.6,4 6,2.6 11.4,8"></polygon></svg></a>
                      </p>
                    </div>
                  </div>     
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>