<div class="mt-500 in-the-news">
  <div class="grid-cont grid-cont--xl">
    <div class="grid-row grid-row--aic">
      <div class="grid-col">
        <h3 class="h3">{{ content.field_egnyte_news__title[0] }}</h3>
      </div>
              
      <div class="grid-col grid-col--auto">
        <a href="/news" class="more-link">View All<span class="removed-xs"> in News</span><svg viewBox="0 0 16 16"><polygon fill="currentColor" points="6,13.4 4.6,12 8.6,8 4.6,4 6,2.6 11.4,8"></polygon></svg></a>
      </div>
    </div>
    <div class="mt-50 grid-row grid-row--smg">
    {% for value in news_cards  %}
      <div class="mt-100 grid-col grid-col--4 grid-col--md-6 grid-col--xs-12">
        <div class="in-the-news__item">
          <div class="in-the-news__figure">
            <img src="{{ value.image }}"  alt="{{ value.image_alt }}">
          </div>
          <h4 class="mt-150 p p--medium fw--500 tc--dark">{{ value.title }}</h4>
          <div class="mt-100 grid-row">
            <div class="grid-col">
              <div class="p p--small tc--light">{{ value.date }}</div>
            </div>
            <div class="grid-col grid-col--auto">
                <a href="{{ value.link.0.uri }}" class="more-link more-link--enlarged" target="_BLANK" ><span class="removed-sm inlined-xs">Read </span>More<svg viewBox="0 0 16 16"><polygon fill="currentColor" points="6,13.4 4.6,12 8.6,8 4.6,4 6,2.6 11.4,8"></polygon></svg></a>
            </div>
          </div>
        </div>
      </div>
     {% endfor %}
    </div>
  </div>
</div>        