{%  if theme == 'Industry' %}
<div class="mt-100 grid-col grid-col--12">
  <div class="industry-foundation__item">
    <div class="grid-row grid-row--aic">
      <div class="grid-col grid-col--sm-12">
        <h3 class="tc--white h3">{{ content.field_egnyte_4_column__2col_hd[0] }}</h3>
        <p class="mt-75 p--medium p">{{ content.field_egnyte_4_column__2col_txt[0] }}</p>
      </div>
                    
      <div class="grid-col grid-col--auto removed-sm"></div>
                    
      <div class="grid-col grid-col--order-sm-0">
        <div class="industry-foundation__figure industry-foundation__figure--3">
            <img src="{{ image__1 }}"  alt="{{ image__1_alt }}" class="industry-foundation__image industry-foundation__image--3">
        </div>
     </div>
  </div>
</div>
</div>
{% endif %}

{%  if theme == 'Solutions' %}
<div class="mt-100 grid-col grid-col--12">
  <div class="solution-remote__item solution-remote__item--7">
    <div class="grid-row grid-row--aic">
      <div class="grid-col grid-col--sm-12">
        <h3 class="tc--white h3">{{ content.field_egnyte_4_column__2col_hd[0] }}</h3>
        <p class="mt-75 p--medium p">{{ content.field_egnyte_4_column__2col_txt[0] }}</p>
      </div>
                    
      <div class="grid-col grid-col--auto removed-sm"></div>
                    
      <div class="grid-col grid-col--order-sm-0">
        <div class="industry-foundation__figure industry-foundation__figure--3">
            <img src="{{ image__1 }}"  alt="{{ image__1_alt }}" class="industry-foundation__image industry-foundation__image--3">
        </div>
     </div>
  </div>
</div>
</div>
{% endif %}


