{% if theme == 'Solution' %}
  <div class="solution-hero">
    <div class="grid-cont">
      <div class="grid-row grid-row--aic">
        <div class="grid-col grid-col--6 grid-col--md-12">
          <h1 class="tc--white  solution-hero__title h1">{{ content.field_egnyte_hero__title[0] }}</h1>
          <p class="mt-100 p p--xlarge solution-hero__subtitle p margin-bottom-0">{{ content.field_egnyte_hero__subtitle[0] }}</p>
          <div class="mt-50 grid-row grid-row--aic solution-hero__actions">
            <div class="mt-150 grid-col grid-col--auto grid-col--xs-12">
              {%  if true in content.field_egnyte_hero__link[0] %}
                    <a class="button" href="{{ content.field_egnyte_hero__link[0]['#url'] }}">{{ content.field_egnyte_hero__link[0]['#title'] }}</a>
              {% endif %}
            </div>
            <div class="mt-150 grid-col grid-col--auto grid-col--xs-12">
              {%  if true in content.field_egnyte_hero__link[1] %}
                <a href="{{ content.field_egnyte_hero__link[1]['#url'] }}" class="p p--medium fw--600 solution-hero__link">{{ content.field_egnyte_hero__link[1]['#title'] }}</a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="grid-col grid-col--6 grid-col--md-12">
          <div class="solution-hero__figure">
            <div class="solution-hero__picture solution-hero__picture--1">
              <img src="{{ image }}"  width="AUTO" height="583" alt="" class="solution-hero__image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}


{% if theme == 'Industry' %}
  <div class="industry-hero" style="background-image: url( '{{ image }}' )">
    <div class="grid-cont grid-cont--xl">
      <div class="grid-row">
        <div class="grid-col grid-col--6 grid-col--lg-7 grid-col--sm-12">
          <div class="industry-hero__cont">
            <h6 class="h6">{{ content.field_egnyte_hero__eyebrow[0] }}</h6>
            <h1 class="h1--small h1">{{ content.field_egnyte_hero__title[0] }}</h1>
            <p class="mt-100 p p--xlarge tc--heading">{{ content.field_egnyte_hero__subtitle[0] }}</p>
            <div class="mt-150 mb-150 grid-row">
              <div class="mt-150 grid-col grid-col--auto grid-col--xs-12">
              {%  if true in content.field_egnyte_hero__link[0] %}
                    <a class="button" href="{{ content.field_egnyte_hero__link[0]['#url'] }}">{{ content.field_egnyte_hero__link[0]['#title'] }}</a>
              {% endif %}
            </div>
            <div class="mt-150 grid-col grid-col--auto grid-col--xs-12">
              {%  if true in content.field_egnyte_hero__link[1] %}
                <a href="{{ content.field_egnyte_hero__link[1]['#url'] }}" class="p p--medium fw--600 solution-hero__link">{{ content.field_egnyte_hero__link[1]['#title'] }}</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if theme == 'Platform' %}
  <div id="platform-feature-hero" class="platform-feature-hero">
    <div class="grid-cont grid-cont--xl">
      <div class="grid-row grid-row--aic">
        <div class="grid-col grid-col--5 grid-col--md-12">
          <h6 class="h6">{{ content.field_egnyte_hero__eyebrow[0] }}</h6>
          <h1 class="h1--small h1">{{ content.field_egnyte_hero__title[0] }}</h1>
          
        </div>
        <div class="grid-col grid-col--7 grid-col--md-12">
          <div class="platform-feature-hero__figure">
                <img src=" {{ image }} "  width="" height="374" class="platform-feature-hero__image platform-feature-hero__image--5" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% if theme == 'Careers' %}
<div class="careers-hero wow mb-250">
  <div class="grid-cont grid-cont--xl">
    <div class="grid-row grid-row--aic">
      <div class="grid-col grid-col--4 grid-col--md-5 grid-col--sm-12">
        <div class="careers-hero__text">
          <div class="h6 careers-hero__overline">{{ content.field_egnyte_hero__eyebrow[0] }}</div>
          <h1 class="h1--small tc--white h1">{{ content.field_egnyte_hero__title[0] }}</h1>
          <p class="mt-100 p p--medium removed-sm margin-bottom-0">{{ content.field_egnyte_hero__subtitle[0] }}</p>
          <a href="https://jobs.jobvite.com/egnyte/jobs" target="_BLANK" class="mt-200 button button--iblock careers-hero__button margin-left-0">View {{ job_totals }} Open Roles</a>
          <div class="mt-125 p p--xsmall careers-hero__footnote">In 5 Locations Worldwide &amp; Remote</div>
        </div>
      </div>
      <div class="grid-col grid-col--8 grid-col--md-7 grid-col--sm-12">
        <div class="careers-hero__figure">
          <div class="careers-hero__hex"></div>
           <img src="/modules/contrib/egnyte_site_builder/modules/egnyte_blocks/egnyte_hero/templates/images/careers/image--sm.png"  alt="" class="careers-hero__image removed blocked-sm">
                  
            <img src="/modules/contrib/egnyte_site_builder/modules/egnyte_blocks/egnyte_hero/templates/images/careers/image-1.png"  alt="" class="careers-hero__image-1">
            <img src="/modules/contrib/egnyte_site_builder/modules/egnyte_blocks/egnyte_hero/templates/images/careers/image-2.png" width="334" height="194"  alt="" class="careers-hero__image-2">
            <img src="/modules/contrib/egnyte_site_builder/modules/egnyte_blocks/egnyte_hero/templates/images/careers/image-3.png"  alt="" class="careers-hero__image-3">
            <img src="/modules/contrib/egnyte_site_builder/modules/egnyte_blocks/egnyte_hero/templates/images/careers/image-4.png" alt="" class="careers-hero__image-4">
            <img src="/modules/contrib/egnyte_site_builder/modules/egnyte_blocks/egnyte_hero/templates/images/careers/image-5.png" alt="" class="careers-hero__image-5">
            <img src="/modules/contrib/egnyte_site_builder/modules/egnyte_blocks/egnyte_hero/templates/images/careers/image-6.png" alt="" class="careers-hero__image-6">
                  
            <img src="/modules/contrib/egnyte_site_builder/modules/egnyte_blocks/egnyte_hero/templates/images/careers/cup-1.png"  alt="" class="careers-hero__cup-1">
            <img src="/modules/contrib/egnyte_site_builder/modules/egnyte_blocks/egnyte_hero/templates/images/careers/cup-2.png"  alt="" class="careers-hero__cup-2">
            <img src="/modules/contrib/egnyte_site_builder/modules/egnyte_blocks/egnyte_hero/templates/images/careers/badge.png" alt="" class="careers-hero__badge">
            <img src="/modules/contrib/egnyte_site_builder/modules/egnyte_blocks/egnyte_hero/templates/images/careers/notebook.png"  alt="" class="careers-hero__notebook">

{#           <img  src="/modules/contrib/egnyte_site_builder/modules/egnyte_blocks/egnyte_hero/templates/images/careers/careers-hero.png" alt="" class="careers-hero__image removed-sm">
          <img src="/modules/contrib/egnyte_site_builder/modules/egnyte_blocks/egnyte_hero/templates/images/careers/careers-hero--sm.png"  alt="" class="careers-hero__image removed blocked-sm"> #}
          {% if bundle == 'remote_video' %}
            <div class="careers-hero__watch">Watch Video</div>
             <div class="vimeo-video"> <a href="{{ video_url }}" data-fancybox="" class="careers-hero__play"></a></div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}
