  <div class="solution-hero">
    <div class="grid-cont">
      <div class="grid-row grid-row--aic">
        <div class="grid-col grid-col--6 grid-col--md-12">
          <h1 class="tc--white  solution-hero__title h1">{{ content.field_egnyte_hero__title[0] }}</h1>
          <p class="mt-100 p p--xlarge solution-hero__subtitle p margin-bottom-0">{{ content.field_egnyte_hero__subtitle[0] }}</p>
          <div class="mt-50 grid-row grid-row--aic solution-hero__actions">
            <div class="mt-150 grid-col grid-col--auto grid-col--xs-12">
              {%  if true in content.field_egnyte_hero__link[0] %}
                    <a class="button" href="{{ content.field_egnyte_hero__link[0]['#url'] }}">{{ content.field_egnyte_hero__link[0]['#title'] }}</a>
              {% endif %}
            </div>
            <div class="mt-150 grid-col grid-col--auto grid-col--xs-12">
              {%  if true in content.field_egnyte_hero__link[1] %}
                <a href="{{ content.field_egnyte_hero__link[1]['#url'] }}" class="p p--medium fw--600 solution-hero__link">{{ content.field_egnyte_hero__link[1]['#title'] }}</a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="grid-col grid-col--6 grid-col--md-12">
          <div class="solution-hero__figure">
            <div class="solution-hero__picture solution-hero__picture--1">
              <img src="{{ image }}"  width="AUTO" height="583" alt="" class="solution-hero__image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>