<div class="partners-hero partners-hero--alt">
  <div class="grid-cont grid-cont--xl">
    {%  if activate_breadcrumb == 1 %}
    <div class="p p--xsmall bread-crumbs">
      <a href="{{ page_url }}" class="bread-crumbs__link">Business Partners</a>
      &gt;<span class="fw--600" style="margin-left:1rem;color:#5E636B;">{{ page_title }}</span>
    </div>
    {% endif %} 
    
    {% if true in content.field_egnyte_msp_hero__eyebrow[0] %}
    <h6 class="h6">{{ content.field_egnyte_msp_hero__eyebrow[0] }}</h6>
    {% endif %}

    <h1 class="mt-350 h1--small h1" style="max-width:618px;margin:0 auto;">{{ content.field_egnyte_msp_hero__title[0] }}</h1>
    
    {% if true in content.field_egnyte_msp_hero__text[0] %}
    <p class="mt-100 p p--large margin-bottom-0">{{ content.field_egnyte_msp_hero__text[0] }}</p>
    {% endif %}

    {% for key, item in content.field_egnyte_msp_hero__link if key|first != '#' %}
    <a href="{{ content.field_egnyte_msp_hero__link[key]['#url'] }}" class="mt-150 button button--iblock">{{ content.field_egnyte_msp_hero__link[key]['#title'] }}</a>
    {% endfor %}
  </div>
</div>