<img src="../modules/contrib/egnyte_site_builder/modules/egnyte_blocks/egnyte_careers_map/templates/images/bg.png" srcset="../modules/contrib/egnyte_site_builder/modules/egnyte_blocks/egnyte_careers_map/templates/images/bg@2x.png" width="100%" height="" alt="">
<button class="careers-map__pin"></button>
<div class="careers-map__popup">
  <img src="{{ image }}"  width="646" height="246" alt="" class="careers-map__popup-img">
  <button class="careers-map__popup-close"></button>
  <div class="careers-map__popup-cont">
    <div class="grid-row grid-row--nog grid-row--aic">
      <div class="grid-col">
        <h4 class="careers-map__city">{{ city }}</h4>
      </div>
      <div class="grid-col grid-col--auto">
          <a href="{{ }}" class="careers-map__view-link"><span class="removed-md">View </span>Open Roles</a>
      </div>
    </div>
    <div class="mt-25 p p--xsmall fw--500 tc--light">{{ subtext }}</div>
      <div class="mt-25 grid-row">
        <div class="grid-col grid-col--6 grid-col--lg-12">
          {{ column_one_text }}        
        </div>
        <div class="grid-col grid-col--6 grid-col--lg-12">
          {{ column_two_text }}          
        </div>
      </div>
    </div>
  </div>
</div>