<div class="{{ card_theme_class }}" data-id="{{ card_theme_class }}">
  <div class="{{ card_theme_grid }}">
    <h6 class="h6">{{ content.field_egnyte_cards__eyebrows[0] }}</h6>
    <h2 class="h2 {{card_theme_header }}">{{ content.field_egnyte_cards__title[0] }}</h2>
    <p class="mt-100 tc--dark p"> {{ content.field_egnyte_cards__text[0] }}</p>
    <div class="{{ card_theme_grid_row }}">
        {{ content.field_egnyte_cards__item }}                                                                                                                                                                                                                                                  
    </div>
  </div>
</div>