      <div class="announcements__slide">
        <div class="announcements__item">
          <div class="announcements__cont">
            <div class="grid-row grid-row--aic">
              <div class="grid-col">
                <div class="h4 tc--tertiary announcements__heading">{{  content.field_egnyte_carousel_cta__title[0] }}</div>
                <p class="mt-25 p p--small">{{  content.field_egnyte_carousel_cta__date[0] }}</p>
              </div>
              <div class="grid-col grid-col--auto grid-col--xs-12">
                <a href="{{  content.field_egnyte_carousel_cta__link['#uri'] }}" class="button button--small">{{  content.field_egnyte_carousel_cta__link['#title'] }}<svg width="16" height="20" viewBox="0 0 16 16" class="inline-icon"><polygon fill="currentColor" points="6,13.4 4.6,12 8.6,8 4.6,4 6,2.6 11.4,8"></polygon></svg></a>
              </div>
            </div>
          </div>
          <div class="announcements__figure">
            <img src="{{  image  }}"  alt="" class="cover-image">
          </div>
        </div>
      </div>